
.form{
  margin-bottom: 2rem;
}

.form > button{
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.perdeu{
  display: inline-block;
  color: #ededed;
  padding: .5rem 0;
  line-height: 1;
  margin-left: auto;
  margin-right: auto;
}

.perdeu::after{
  content: '';
  height: 2px;
  width: 100%;
  background: currentColor;
  display: block;
}

.novo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cadastro{
  margin-top: 4rem;
}

.cadastro {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.cadastresse{
  color: #ededed;
}

.logo{
  margin-left: 55px;
  margin-bottom: 2rem;
}
